include ../includes/mixins
doctype html
html(lang="en")
	head
		include ../includes/header.pug
		script(src='/js/sidebar.js', defer)
		script(src='/js/guild.js', defer)

		link(rel="stylesheet" href="/css/index.css")
		link(rel="stylesheet" href="/css/sidebar.css")
		link(rel="stylesheet" href="/css/utils.css")

		link(rel='apple-touch-icon' sizes='180x180' href='/img/apple-touch-icon.png')
		link(rel='icon' type='image/png' sizes='32x32' href='/img/favicon-32x32.png')
		link(rel='icon' type='image/png' sizes='16x16' href='/img/favicon-16x16.png')
		link(rel='manifest' href='/img/site.webmanifest')
		link(rel='mask-icon' href='/img/safari-pinned-tab.svg' color='#5bbad5')
		meta(name='msapplication-TileColor' content='#da532c')
		meta(name='theme-color' content='#ffffff')

	body.bg-dark-10.text-light
		include ../includes/sidebar.pug

		include ../includes/navbar.pug
		#sidebarExtension.bg-dark-5.text-light
			header.text-center.pt-4
				.large-icon.bg-dark.round.shadow#overview
					if guild.icon
						img.round(src=guild.iconURL({dynamic: true, size: 128}), alt=guild.name)
					else
						p.abbr #{guild.nameAcronym}
				h4#overview.pt-2 #{guild.name}
			.tabs.navbar-nav
				.category.cursor-pointer Modules
				each category in categories
					+categoryAnchor(category)
				a(href='/leaderboard/' + guild.id).cursor-pointer #[i.fas.fa-clipboard-list.pe-2.text-muted] Leaderboard
		.container-fluid.px-5
			include modules/server/overview
			include modules/server/general
			include modules/server/fun
			include modules/server/moderation
			include modules/server/economy
			include modules/server/miscellaneous