section#economyModule.module.container.px-5
	.container-fluid
		.jumbotron.text-center.bg-transparent
			h1.display-4 Economy
			hr.container.size-50p
			p.lead Here comes the economy things
	.form-group.mt-5
		.row