section#miscellaneousModule.module.container.px-5
	.container-fluid
		.jumbotron.text-center.bg-transparent
			h1.display-4 Miscellaneous
			hr.container.size-50p
			p.lead Here comes the miscellaneous things
	.form-group.mt-5
		.row